* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url('Images/Travel-HD-Wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #fff;
}

#header {
  position: fixed;
  color: #fff;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

#header .container {
  padding: 10px;
  margin: 5px auto;
}

#header .container #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#header .container #nav #logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0 20px;
}

#header .container #nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 20px;
  margin-right: 20px;
}

#header .container #nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  margin: 0 6px;
  transition: text-decoration 0.2s;
}

#header .container #nav ul li a:hover {
  text-decoration: underline;
}

#home {
  color: #111;
  height: 100vh;
  width: 100%;
  padding: 70px 100px;
  background: rgba(0, 0, 0, 0.45);
  /* background-image: url('Images/Travel-HD-Wallpaper.jpg');
  background-size: cover; */
}

#home .container .home-content {
  padding: 25px;
  color: #ddd;
  max-width: 650px;
  width: 90%;
}

#home .container .home-content h1 {
  font-size: 2.5rem;
  padding: 12px 0;
}

#home .container .home-content p {
  text-align: justify;
  margin: 10px auto;
}

#home .container .home-content .btn {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: #fff;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
}

#home .container .home-content .travel-location {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
 
}

#home .container .home-content .travel-location img {
  width: 250px;
  height: 170px;
  padding: 15px;
}

#home .container .home-content .travel-location p {
  padding: 10px 30px;
  margin-top: -60px;
  /* text-align: center; */
  font-size: 18px;
  /* color: #222; */
  font-weight: 600;
}

#about {
  height: 100vh;
  width: 100%;
  padding: 150px 100px;
  background: #1d1d1d;
  color: #ddd;
}

#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .container .about-content {
  width: 90%;
  max-width: 600px;
  padding: 25px;
}

#about .container .about-content h1 {
  font-size: 2.5rem;
  padding: 12px 0;
}

#about .container .about-content p {
  text-align: justify;
  margin: 10px auto;
}

#about .container .about-content .btn {
  background-color: #333;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
}

#about .container img {
  width: 500px;
  height: 360px;
}

